$color-white: #fff;
$color-black: #07043b;
$color-purple: #575988;
$color-purple-light: #f8f8fe;
$color-blue: #2f65f8;
$color-blue-light: #6c9bff;
$color-blue-dark: #07043b;
$color-grey-light: #c2c2c2;
$color-green: #3da08f;

$bp-largest: 75em; //1200
$bp-large: 65em;
$bp-medium: 50em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 55%;
  }
}

body {
  max-width: 144rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  overflow-x: hidden;
  background: #f2f2f2;
}
// img {
//   width: 100%;
//   display: block;
// }

.container {
  // width: 85%;
  // max-width: 100%;
  margin: 0 auto;
}
