.site-navigation {
  margin: 0 8rem 0 8rem;
  padding-top: 7rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: $bp-large) {
    margin: 0 3rem 0 3rem;
  }

  &__logo {
    width: 16.6rem;
    @media only screen and (max-width: $bp-small) {
      width: 8rem;
    }
  }

  &__right,
  ul {
    display: flex;
    // flex-direction: row;
    list-style: none;
    font-size: 1.6rem;
  }
}
a {
  margin-right: 5rem;
  text-decoration: none;
  color: $color-black;
  @media only screen and (max-width: $bp-small) {
    margin-right: 2.4rem;
  }
}

.sign-in {
  margin-right: 0;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 8rem 0 8rem;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column-reverse;
  }

  @media only screen and (max-width: $bp-large) {
    margin: 0 3rem 0 3rem;
  }

  &__header {
    font-size: 4rem;
    color: $color-black;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    @media only screen and (max-width: $bp-medium) {
      margin: 0 auto;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
      font-size: 3.4rem;
      max-width: 45rem;
    }
    @media only screen and (max-width: $bp-small) {
      max-width: 32rem;
      font-size: 2.4rem;
    }
  }
  &__paragraph {
    font-size: 1.7rem;
    margin-bottom: 2.5rem;
    @media only screen and (max-width: $bp-medium) {
      max-width: 58rem;
      margin: 0 auto;
      text-align: center;
    }
  }
  &__left-input {
    @media only screen and (max-width: $bp-medium) {
      position: absolute;
      left: 50%;
      transform: translateX(-45%);
      margin-right: 4rem;
    }
  }

  &__input {
    width: 32rem;
    height: 4.5rem;
    margin-right: 1.6rem;
    position: relative;

    @media only screen and (max-width: $bp-large) {
      width: 28rem;
      // margin: 0 auto;
    }
    @media only screen and (max-width: $bp-medium) {
      margin-top: 2.6rem;
      width: 32rem;
      // margin: 0 auto;
    }
  }
  &__button {
    width: 20rem;
    height: 4.5rem;
    background-color: $color-blue;
    border: none;
    cursor: pointer;
    @media only screen and (max-width: 127.9rem) {
      margin-top: 2rem;
      width: 17rem;
    }

    @media only screen and (max-width: $bp-medium) {
      // margin-right: 2.4rem;
      margin: 2.4rem auto;
      width: 32rem;
    }
  }

  &__button:hover {
    background: #6c9bff;
  }
  &__image {
    max-width: 58rem;
    height: 47rem;

    @media only screen and (max-width: 1280px) {
      // margin-right: 2.4rem;
      max-width: 48rem;
      height: 43rem;
    }
    @media only screen and (max-width: $bp-large) {
      // margin-right: 2.4rem;
      max-width: 44rem;
      height: 40rem;
      margin-right: -7rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      // margin-right: 2.4rem;
      width: 30rem;
      height: 22rem;
    }
  }
}

.email-response {
  color: red;
  font-weight: 500;
  position: absolute;
  font-size: 1.6rem;
  left: 8rem;

  @media only screen and (max-width: $bp-large) {
    left: 3rem;
  }
  @media only screen and (max-width: $bp-medium) {
    left: 0;
    top: 7rem;
    // left: -5rem;
  }

  // top: 100%;
}
.bg-curve {
  margin: 0 auto;
  margin-top: 17rem;
  margin-bottom: -1rem;
}

.section-stay-productive {
  background-color: $color-purple-light;
  &__content {
    margin: 0 8rem 0 8rem;
    display: flex;

    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column-reverse;
    }
    @media only screen and (max-width: $bp-large) {
      margin: 0 3rem 0 3rem;
    }
  }

  &__header {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 15rem;
    margin-bottom: 3.8rem;
    @media only screen and (max-width: $bp-medium) {
      font-size: 2.4rem;
      text-align: center;
    }
  }

  &__paragraph {
    max-width: 52rem;
    font-size: 1.6rem;
    font-family: "open sans";
    line-height: 1.2;

    @media only screen and (max-width: $bp-medium) {
      text-align: center;
      min-width: 32rem;
    }
  }
  &__paragraph-2 {
    max-width: 52rem;
    font-size: 1.6rem;
    font-family: "open sans";
    line-height: 1.2;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    @media only screen and (max-width: $bp-medium) {
      text-align: center;
      min-width: 32rem;
    }
  }
  &__link {
    border-bottom: 1px solid $color-green;

    @media only screen and (max-width: $bp-medium) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 20rem;
    }
  }

  &__link,
  a {
    font-size: 1.6rem;
    float: left;
    margin-right: 0.5rem;

    color: $color-green;
  }

  &__card {
    max-width: 35.6rem;
    height: 23rem;
    margin-top: 8rem;
    margin-bottom: 10.7rem;
    background: $color-white;

    @media only screen and (max-width: $bp-medium) {
      margin: 8rem auto;
    }
  }
  &__card-quotes {
    margin: 2rem 0 0 3.3rem;
  }
  &__card-text {
    font-family: "Open Sans";
    font-size: 1.3rem;
    line-height: 1.7;
    // letter-spacing: 0.1;

    max-width: 27.9rem;
    margin-left: 3.3rem;
    margin-right: 3.3rem;
  }

  &__profile {
    margin-top: 1.8rem;
    display: flex;
  }
  &__testimonial {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 0.8rem;
    margin-left: 3.3rem;
  }
  &__img {
    width: 54rem;
    height: 41rem;

    @media only screen and (max-width: $bp-smallest) {
      width: 32rem;
      height: 24rem;
    }
  }
}

.early-access {
  &__content {
    display: flex;
    justify-content: space-between;

    background: $color-purple;
    color: white;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      text-align: center;
      height: 35.5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      height: 40rem;
    }
  }

  &__tytle {
    margin-left: 8rem;
    font-family: "Raleway";
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 10rem;
    margin-bottom: 1.7rem;
    @media only screen and (max-width: $bp-large) {
      margin-left: 3rem;
    }
    @media only screen and (max-width: $bp-medium) {
      margin-top: 5.4rem;
    }
  }
  &__paragraph {
    margin-left: 8rem;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 1.6rem;
    max-width: 53.3rem;
    margin-bottom: 8rem;

    @media only screen and (max-width: $bp-large) {
      margin-left: 3rem;
    }
    @media only screen and (max-width: $bp-medium) {
      margin: 0 auto;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $bp-medium) {
      position: absolute;
      left: 50%;
      transform: translateX(-45%);
      margin-top: -14.5rem;
    }
  }

  &__input-container {
    margin-top: 11rem;
    margin-right: 8rem;

    @media only screen and (max-width: $bp-large) {
      margin-right: 3rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      margin-bottom: 6rem;
    }
  }
  &__input {
    width: 48rem;
    height: 4.8rem;
    color: $color-grey-light;

    @media only screen and (max-width: $bp-large) {
      width: 35rem;
      margin-left: 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin: 0 auto;
    }
  }

  &__button {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 1.4rem;
    width: 20rem;
    height: 4.8rem;
    background: $color-blue;
    color: white;
    margin-top: 3.4rem;
    border: none;
    cursor: pointer;

    @media only screen and (max-width: $bp-large) {
      margin-left: 5rem;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 35rem;
      margin-top: 2rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      margin: 2rem auto;
    }
  }
  &__button:hover {
    background: $color-blue-light;
  }
}

.footer {
  background-color: $color-blue-dark;
  color: $color-white;
  font-family: "Open Sans";
  font-size: 1.6rem;
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 8rem 0 8rem;

    @media only screen and (max-width: $bp-large) {
      margin: 0 3rem 0 3rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }
  &__fylo-logo {
    margin-bottom: 3rem;
  }

  &__social-medias {
    display: flex;
    margin-top: 17.5rem;

    @media only screen and (max-width: $bp-small) {
      margin-top: -5rem;
      position: absolute;
      left: 50%;
      transform: translateX(-45%);
    }
    &__social-media-icon:hover {
      background: #6c9bff;
    }
  }
  &__anchor {
    color: white;
    margin-top: 1.6rem;
  }
  &__logo-column {
    margin-top: 9.2rem;

    @media only screen and (max-width: $bp-small) {
      margin-top: 6.5rem;
    }
  }
  &__contact-us-column {
    margin-top: 16.9rem;

    @media only screen and (max-width: $bp-small) {
      margin-top: -5rem;
      margin-bottom: 9rem;
    }
  }
  &__about-us-column {
    margin-top: 16.9rem;
    margin-bottom: 8.6rem;

    @media only screen and (max-width: $bp-small) {
      margin-top: 5rem;
    }
  }
  &__social-media-icon {
    margin-right: -3.8rem;

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
    }
  }
  &__phone {
    margin-bottom: 1.6rem;
  }
}
ul {
  list-style: none;
}
.about-us {
  margin-bottom: 1.6rem;
}
